* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav {
  background-color: rgb(230, 38, 223);
  display: flex;
  gap: 800px;
  height: 10ch;
  border-style: solid;
}

a {
  color: white;
  margin-top: 2rem;
  max-height: 2ch;
}

img {
  max-width: 25ch;
  max-height: 6ch;
  margin-left: 3rem;
  margin-top: 1rem;
}

.main {
  color: rgb(13, 13, 13);
  text-align: center;
  margin-top: 5rem;
}
