* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.nav {
  background-color: white;
  display: flex;
  gap: 80em;
  height: 10ch;
}

a:nth-of-type(1) {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-top: 2rem;
  max-height: 2ch;
}

a:nth-of-type(1):hover {
  color: #b9005f;
}

img:nth-child(1) {
  background-color: white;
  width: 20ch;
  max-height: 6ch;
  margin-left: 3rem;
  margin-top: 1rem;
}

.footer {
  position: relative;
  position: absolute;
}

h1 {
  font-size: 2em;
  color: white;
  background-color: #b9005f;
  border-radius: 10px;
  opacity: 0.9;
  position: absolute;
  padding-top: 2.5rem;
  width: 15em;
  height: 4em;
  top: 25%;
  left: 35%;
}

img:nth-child(2) {
  height: 27rem;
  min-width: 120%;
}

.main {
  color: rgb(13, 13, 13);
  text-align: center;
  margin-top: 5rem;
}

.button {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 6rem;
  width: 35ch;
  gap: 25px;
}

a button {
  background-color: #b9005f;
  position: relative;
  opacity: 0.9;
  color: white;
  min-width: 15rem;
  min-height: 2rem;
  border-radius: 8px;
  box-shadow: 2px 2px rgb(62, 60, 60);
  transition-duration: 0.3s;
}

a button:hover {
  opacity: 1;
  font-size: 20px;
  transition-duration: 0.5s;
}

/* bovenstaande regels is voor index.html */

/* onderstaande regels is voor overige pagina's */

.nav1 {
  background-color: white;
  display: flex;
  gap: 55em;
  height: 9em;
}

.accordion {
  background-color: #b9005f;
  color: white;
  border-style: solid;
  border-color: rgb(184, 178, 178);
  border-radius: 4px;
  margin-left: 15%;
  width: 45rem;
  height: 4em;
  font-size: 1rem;
}

.accordion:after {
  color: white;
  content: "\f078";
  float: right;
  padding-right: 0.5rem;
}

.active:after {
  background-color: rgb(255, 253, 253);
  content: "\f078";
}

.panel {
  background-color: rgb(237, 234, 234);
  display: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 15%;
  max-width: 45rem;
}