* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font: 100%/1.4 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  background-color: #ffe6f3;
}

nav {
  background-color: white;
  display: flex;
  gap: 65%;
  height: 9ch;
}

a:nth-of-type(1) {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-top: 2rem;
}

a:nth-of-type(1):hover {
  color: #b9005f;
}

img:nth-child(1) {
  background-color: white;
  width: 20ch;
  max-height: 6ch;
  margin-left: 3rem;
  margin-top: 1rem;
}

.footer {
  position: absolute;
}

h1 {
  font-size: 2em;
  color: white;
  background-color: #b9005f;
  border-radius: 10px;
  opacity: 0.8;
  position: absolute;
  padding-top: 2.5rem;
  width: 15em;
  height: 4em;
  top: 25%;
  left: 35%;
}

img:nth-child(2) {
  height: 27rem;
  max-width: 100%;
}

.content {
  color: rgb(13, 13, 13);
  text-align: center;
  margin-top: 5rem;
}

.button {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: 40ch;
  gap: 15px;
  align-items: center;
}

a button {
  background-color: #b9005f;
  border-color: white;
  position: relative;
  color: white;
  min-width: 13rem;
  min-height: 2.3rem;
  border-radius: 1px;
  transition-duration: 0.3s;
}

a button:hover {
  opacity: 1;
  font-size: 20px;
  transition-duration: 0.5s;
}

/* bovenstaande regels is voor index.html */

/* onderstaande regels is voor overige pagina's */

header {
  max-width: 30em;
  margin: 5%;
}

.box {
  margin-top: 7em;
  margin-left: 5%;
  max-width: 50em;
  margin-bottom: 8em;
}

.accordion {
  background-color: #b9005f;
  color: white;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-radius: 1px;
  width: 50rem;
  height: 4em;
  font-size: 1rem;
}

.accordion:after {
  color: white;
  content: "\002B";
  float: right;
  padding-right: 0.5rem;
}

.active:after {
  color: rgb(255, 253, 253);
  content: "\2212";
}

.panel {
  background-color: rgb(255, 255, 255);
  display: none;
  border-radius: 5px;
  text-align: left;
  padding: 2em;
}

h4 {
  font-size: 1.5em;
  text-align: center;
}

.nav-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 3%;
  margin-left: 65em;
  gap: 25px;
  border: outset #b9005f;
  padding: 30px;
}

code {
  font-size: 1em;
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  padding: 1px;
  text-align: left;
  border: solid;
}

pre {
  background-color: rgb(235, 230, 230);
  border-radius: 5px;
  text-align: left;
  overflow-x: scroll;
}

p {
  text-align: left;
}
