* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font: 100%/1.4 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #ffe6f3;
}

nav {
  background-color: white;
  display: flex;
  gap: 65%;
  height: 10ch;
}

a:nth-of-type(1) {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-top: 2rem;
}

a:nth-of-type(1):hover {
  color: #b9005f;
}

img:nth-child(1) {
  background-color: white;
  width: 20ch;
  max-height: 6ch;
  margin-left: 3rem;
  margin-top: 1rem;
}

.footer {
  position: relative;
  padding-top: 4em;
  margin: auto 30rem;
}

h1 {
  font-size: 2em;
  color: white;
  background-color: #b9005f;
  margin-top: 7rem;
  border-radius: 10px;
  opacity: 0.9;
  position: absolute;
  padding-top: 2.5rem;
  width: 15em;
  height: 5em;
  top: 25%;
  left: 35%;
}

img:nth-child(2) {
  height: 27rem;
  max-width: 100%;
}

.content {
  background-image: url(../assets/a4e2c970-9833-4f7e-9d02-d919f6426e5e.png);
  background-size: cover;
  color: rgb(13, 13, 13);
  text-align: center;
}

.button {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: 40ch;
  gap: 25px;
  padding-bottom: 7rem;
}

a button {
  background-color: #b9005f;
  border-color: white;
  color: white;
  min-width: 13rem;
  min-height: 2.3rem;
  border-radius: 1px;
  transition-duration: 0.3s;
}

a button:hover {
  opacity: 0.8;
  font-size: 20px;
  transition-duration: 0.5s;
}

/* bovenstaande regels is voor index.html */

/* onderstaande regels is voor overige pagina's */

header {
  max-width: 30rem;
  margin: 5%;
}

h2 {
  font-size: 2em;
}

.box {
  margin-top: 7em;
  margin-left: 5%;
  max-width: 50em;
  margin-bottom: 8em;
}

.accordion {
  background-color: #b9005f;
  color: white;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-radius: 1px;
  width: 50rem;
  height: 4em;
  font-size: 1rem;
}

.accordion:hover {
  opacity: 0.7;
  transition-duration: 0.4s;
}

.accordion:after {
  color: white;
  content: "\002B";
  float: right;
  padding-right: 0.5rem;
}

.active:after {
  color: rgb(255, 253, 253);
  content: "\2212";
}

.panel {
  background-color: rgb(255, 255, 255);
  display: none;
  border-radius: 5px;
  text-align: left;
  padding: 2em;
}

h4 {
  font-size: 1.5em;
  text-align: center;
}

.nav-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 3%;
  margin-left: 63em;
  gap: 25px;
  border: outset #b9005f;
  padding: 1em 4em;
}

code {
  font-size: 1em;
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  padding: 1px;
  text-align: left;
  border: solid;
}

pre {
  background-color: rgb(235, 230, 230);
  border-radius: 5px;
  text-align: left;
  overflow-x: scroll;
}

p {
  text-align: left;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #b9005f;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

@media (min-width: 375px) and (max-width: 414px) {
  span {
    display: none;
  }

  nav {
    margin-left: 3.5rem;
  }

  body {
    background-color: white;
  }

  .info {
    height: 0 auto;
  }

  .content {
    height: 5rem;
    padding: auto;
    background-image: none;
  }

  .footer {
    display: none;
  }

  .button {
    margin-left: 5%;
    margin-top: 2rem;
    gap: 20px;
  }

  .nav-bar {
    display: none;
  }

  .accordion {
    max-width: 20rem;
    height: 7rem;
  }

  .panel {
    text-align: left;
  }
}
